<% content_for :title, "Students" %>

<div class="container">
  <h1 class="page-title">Students</h1>

  

  <br></br>

  <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for names..." style="display: block; margin: 0 auto;">

  <% if @students.present? %>
    <table class="course-table", table id="dataTable">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>UIN</th>
          <th>Major</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.uin %></td>
            <td><%= student.major %></td>
            <td><%= student.email %></td>
            <td>
              <%= link_to "View", student_path(student), class: "btn btn-maroon" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="no-students">No students available.</p>
  <% end %>

    <script>
        function searchTable() {
            let input = document.getElementById("searchInput");
            let filter = input.value.toLowerCase();
            let table = document.getElementById("dataTable");
            let rows = table.getElementsByTagName("tr");

            for (let i = 1; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName("td");
                let rowContainsFilter = false;

                for (let j = 0; j < cells.length; j++) {
                    if (cells[j].textContent.toLowerCase().includes(filter)) {
                        rowContainsFilter = true;
                        break;
                    }
                }

                rows[i].style.display = rowContainsFilter ? "" : "none";
            }
        }
    </script>  
</div>
<div class="button-container">
    <%= link_to "New Student", new_student_path, class: "btn btn-maroon" %>
    <%= link_to "Back to Home", root_path, class: "btn btn-maroon" %>
  </div>
