<% content_for :title, "Student Statistics" %>

<div class="container">
  <h1 class="page-title">Student Statistics</h1>

  <div class="detail-container">
    <div class="detail-row">
      <span class="detail-label">Total Students:</span>
      <span class="detail-value"><%= @total_students %></span>
    </div>

    <div class="detail-row">
      <span class="detail-label">
        <%= link_to 'Students in Multiple Courses', statistics_duplicate_students_path, class: "simple-link" %>
      </span>
      <span class="detail-value"><%= @duplicate_count %></span>
    </div>

    <div class="detail-row">
      <span class="detail-label">Average Grade:</span>
      <span class="detail-value"><%= @average_grade %></span>
    </div>

    <div class="detail-row">
      <span class="detail-label">Highest Grade:</span>
      <span class="detail-value"><%= @highest_grade %></span>
    </div>
  </div>

  <div class="button-container">
    <%= link_to 'View Per Class Statistics', statistics_per_class_statistics_path, class: "btn btn-maroon" %>
  </div>
</div>


