<% content_for :title, "Class Statistics" %>

<div class="container">
  <h1 class="page-title">Class Statistics</h1>

  <table class="course-table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Student Count</th>
        <th>Average Grade</th>
        <th>Highest Grade</th>
        <th>F Rate (%)</th>
        <th>Q Rate (%)</th>
        <th>W Rate (%)</th>
      </tr>
    </thead>
    <tbody>
      <% @class_statistics.each do |stat| %>
        <tr>
          <td><%= stat[:course_name] %></td>
          <td><%= stat[:student_count] %></td>
          <td><%= stat[:average_grade].round(2) %></td>
          <td><%= stat[:highest_grade] %></td>
          <td><%= stat[:f_rate] %></td>
          <td><%= stat[:q_rate] %></td>
          <td><%= stat[:w_rate] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'Back to Statistics', statistics_path, class: "btn btn-maroon" %>
  </div>
</div>
