<% content_for :title, "Manage Users" %>

<div class="container">
  <h1 class="page-title">Manage Users</h1>

  <% if @users.present? %>
    <table class="course-table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td>
              <% unless user == current_user %>
                <%= button_to "Remove", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-maroon" %>
              <% else %>
                <span class="text-muted">You can't delete yourself</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="no-users">No users available.</p>
  <% end %>

  <div class="button-container">
    <%= link_to "Add New User", new_user_path, class: "btn btn-maroon" %>
    <%= link_to "Back to Home", root_path, class: "btn btn-maroon" %>

    <form action="<%= destroy_user_session_path %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :_method, "delete" %>
        <%= submit_tag "Sign Out", class: "btn btn-danger" %>
    </form>
  </div>

</div>
