<h2>Add New User</h2>

<%= form_with(model: @user, url: users_path, method: :post) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>
  <div class="form-actions" >
    <%= f.submit "Add User" %>
  </div>
<% end %>

<div class="button-container">
    <%= link_to "Back to Users", users_path, class: "btn btn-maroon" %>

</div>
