<%= form_with(model: peer_teacher, html: { class: "course-form" }) do |form| %>
  <% if peer_teacher.errors.any? %>
    <div class="error-box">
      <h2><%= pluralize(peer_teacher.errors.count, "error") %> prohibited this peer teacher from being saved:</h2>
      <ul>
        <% peer_teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% [:first_name, :last_name, :uin, :email].each do |field| %>
    <div class="form-group">
      <%= form.label field, class: "form-label" %>
      <%= form.text_field field, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= form.submit "Save Peer Teacher", class: "btn btn-maroon" %>
  </div>
<% end %>
