<div id="<%= dom_id peer_teacher %>">
  <p>
    <strong>First name:</strong>
    <%= peer_teacher.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= peer_teacher.last_name %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= peer_teacher.uin %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= peer_teacher.email %>
  </p>

</div>
