<div id="<%= dom_id peer_teacher %>" class="course-info-box">
  <div class="detail-row">
    <span class="detail-label">First name:</span>
    <span class="detail-value"><%= peer_teacher.first_name %></span>
  </div>

  <div class="detail-row">
    <span class="detail-label">Last name:</span>
    <span class="detail-value"><%= peer_teacher.last_name %></span>
  </div>

  <div class="detail-row">
    <span class="detail-label">UIN:</span>
    <span class="detail-value"><%= peer_teacher.uin %></span>
  </div>

  <div class="detail-row">
    <span class="detail-label">Email:</span>
    <span class="detail-value"><%= peer_teacher.email %></span>
  </div>
</div>

