<% content_for :title, "Editing Peer Teacher" %>

<div class="container">
  <h1 class="page-title">Editing Peer Teacher</h1>

  <% if @peer_teacher.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@peer_teacher.errors.count, "error") %> errors prevented this peer teacher from being saved:</h2>
      <ul>
        <% @peer_teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <%= form_with(model: @peer_teacher, local: true, class: "styled-form") do |form| %>

      <div class="form-row">
        <div class="form-group">
          <%= form.label :first_name, "First Name", class: "form-label" %>
          <%= form.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :last_name, "Last Name", class: "form-label" %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <%= form.label :uin, "UIN", class: "form-label" %>
          <%= form.text_field :uin, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :email, "Email", class: "form-label" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="button-container">
        <%= form.submit "Save Changes", class: "btn btn-maroon" %>
      </div>
      
    <% end %>
  </div>

  <div class="action-button-box">
    <%= link_to "View Peer Teacher", @peer_teacher, class: "btn btn-maroon" %>
    <%= link_to "Back to Peer Teachers", peer_teachers_path, class: "btn btn-maroon" %>
</div>
</div>

