<% content_for :title, "Peer Teacher Details" %>

<div class="container">
  <h1 class="page-title">Peer Teacher Details</h1>

  <table class="details-table">
    <tr>
      <th>First Name:</th>
      <td><%= @peer_teacher.first_name %></td>
    </tr>
    <tr>
      <th>Last Name:</th>
      <td><%= @peer_teacher.last_name %></td>
    </tr>
    <tr>
      <th>UIN:</th>
      <td><%= @peer_teacher.uin %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= @peer_teacher.email %></td>
    </tr>
  </table>

  <div class="button-container">
    <%= link_to "Edit Peer Teacher", edit_peer_teacher_path(@peer_teacher), class: "btn btn-maroon" %>
    <%= button_to "Delete Peer Teacher", @peer_teacher, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-maroon" %>
    <%= link_to "Back to Peer Teachers", peer_teachers_path, class: "btn btn-maroon" %>
    
  </div>
</div>

