<div id="<%= dom_id course %>" class="course-form">
  <p><strong>Name:</strong> <%= course.name %></p>
  <p><strong>Number:</strong> <%= course.number %></p>
  <p><strong>Section:</strong> <%= course.section %></p>
  <p><strong>Year:</strong> <%= course.year %></p>
  <p><strong>Semester:</strong> <%= course.semester %></p>
</div>
