<%= form_with(model: course, html: { class: "course-form" }) do |form| %>
  <% if course.errors.any? %>
    <div class="error-box">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% [:name, :number, :section, :year, :semester].each do |field| %>
    <div class="form-group">
      <%= form.label field, class: "form-label" %>
      <%= form.text_field field, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= form.submit "Save Course", class: "btn btn-maroon" %>
  </div>
<% end %>
