<% content_for :title, "Courses" %>

<div class="container">
  <h1 class="page-title"> Courses</h1>

  <table class="course-table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Number</th>
        <th>Section</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.number %></td>
          <td><%= course.section %></td>
          <td><%= course.year %></td>
          <td><%= course.semester %></td>
          <td>
            <%= link_to "View", course_path(course), class: "btn btn-light-blue btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to "New Course", new_course_path, class: "btn btn-light-green" %>
    <%= link_to "Back to Home", root_path, class: "btn btn-light-gray" %>
  </div>
</div>

