<div id="<%= dom_id student_roster %>">
  <p>
    <strong>Name:</strong>
    <%= student_roster.name %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= student_roster.uin %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student_roster.major %>
  </p>

  <p>
    <strong>Class level:</strong>
    <%= student_roster.class_level %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_roster.email %>
  </p>

  <p>
    <strong>Final:</strong>
    <%= student_roster.final %>
  </p>

</div>
