<h1>Roster: <%= params[:id] %></h1>

<table>
  <thead>
    <tr>
      <th>
        <%= link_to "Name", student_roster_path(sort: 'name', order: @sort == 'name' && @order == 'asc' ? 'desc' : 'asc') %>
        <% if @sort == 'name' %>
          <% if @order == 'asc' %>
            ▼
          <% else %>
            ▲
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "UIN", student_roster_path(sort: 'uin', order: @sort == 'uin' && @order == 'asc' ? 'desc' : 'asc') %>
        <% if @sort == 'uin' %>
          <% if @order == 'asc' %>
            ▼
          <% else %>
            ▲
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "Major", student_roster_path(sort: 'major', order: @sort == 'major' && @order == 'asc' ? 'desc' : 'asc') %>
        <% if @sort == 'major' %>
          <% if @order == 'asc' %>
            ▼
          <% else %>
            ▲
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "Class Level", student_roster_path(sort: 'class_level', order: @sort == 'class_level' && @order == 'asc' ? 'desc' : 'asc') %>
        <% if @sort == 'class_level' %>
          <% if @order == 'asc' %>
            ▼
          <% else %>
            ▲
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "Email", student_roster_path(sort: 'email', order: @sort == 'email' && @order == 'asc' ? 'desc' : 'asc') %>
        <% if @sort == 'email' %>
          <% if @order == 'asc' %>
            ▼
          <% else %>
            ▲
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "Final Grade", student_roster_path(sort: 'final', order: @sort == 'final' && @order == 'asc' ? 'desc' : 'asc') %>
        <% if @sort == 'final' %>
          <% if @order == 'asc' %>
            ▼
          <% else %>
            ▲
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.uin %></td>
        <td><%= student.major %></td>
        <td><%= student.class_level %></td>
        <td><%= student.email %></td>
        <td><%= student.final %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Rosters", student_rosters_path %>
