<p style="color: green"><%= notice %></p>

<%= render @student_roster %>

<div>
  <%= link_to "Edit this student roster", edit_student_roster_path(@student_roster) %> |
  <%= link_to "Back to student rosters", student_rosters_path %>

  <%= button_to "Destroy this student roster", @student_roster, method: :delete %>
</div>
