<div id="<%= dom_id pt_enrollment %>">
  <p>
    <strong>Course:</strong>
    <%= pt_enrollment.course.name %> (<%= pt_enrollment.course.number %>) - Section <%= pt_enrollment.course.section %>
  </p>

  <p>
    <strong>Peer Teacher:</strong>
    <%= "#{pt_enrollment.peer_teacher.first_name} #{pt_enrollment.peer_teacher.last_name}" %>
  </p>
</div>
