<% content_for :title, "PT Enrollments" %>

<div class="container">
  <h1 class="page-title"> Peer Teacher Enrollments</h1>

  <% if @pt_enrollments.present? %>
    <table class="course-table"> 
      <thead>
        <tr>
          <th>Course</th>
          <th>Number</th>
          <th>Peer Teacher</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @pt_enrollments.each do |pt_enrollment| %>
          <tr>
            <td><%= pt_enrollment.course.name %></td>
            <td><%= pt_enrollment.course.number %></td>
            <td><%= pt_enrollment.peer_teacher.first_name %> <%= pt_enrollment.peer_teacher.last_name %></td>
            <td>
              <%= link_to "View", pt_enrollment_path(pt_enrollment), class: "btn btn-maroon btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="no-pt-enrollments">No peer teacher enrollments available.</p>
  <% end %>


  <div class="button-container">
    <%= link_to "New PT Enrollment", new_pt_enrollment_path, class: "btn btn-maroon" %>
    <%= link_to "Back to Home", root_path, class: "btn btn-maroon" %>
  </div>
</div>

