<p style="color: green"><%= notice %></p>

<%= render @pt_enrollment %>

<div>
  <%= link_to "Edit this pt enrollment", edit_pt_enrollment_path(@pt_enrollment) %> |
  <%= link_to "Back to pt enrollments", pt_enrollments_path %>

  <%= button_to "Destroy this pt enrollment", @pt_enrollment, method: :delete %>
</div>
